* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg: linear-gradient(135deg, #2c3e50, #4ca1af);
  --clock-bg: #111;
  --border: #fff;
  --text: #fff;
  --tick: #bbb;
}

/* LIGHT MODE */
body.light {
  --bg: linear-gradient(135deg, #f5f7fa, #c3cfe2);
  --clock-bg: #ffffff;
  --border: #333;
  --text: #000;
  --tick: #555;
}

/* SAME BACKGROUND */
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--bg);
}

/* RESPONSIVE CLOCK */
.clock {
  width: 85vmin;
  height: 85vmin;
  max-width: 500px;
  max-height: 500px;
  border: 1.5vmin solid ;
  border-radius: 50%;
  position: relative;
    background: var(--clock-bg);
  border-color: var(--border);
  box-shadow: 0 0 5vmin rgba(0,0,0,0.6);
}

/* CENTER DOT */
.center {
  width: 2vmin;
  height: 2vmin;
 background: var(--border);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* HANDS */
.hand {
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform-origin: bottom;
  transform: translateX(-50%) rotate(0deg);
}

.hour {
  width: 1vmin;
  height: 22%;
  background: #f39c12;
}

.minute {
  width: 0.7vmin;
  height: 32%;
  background: #3498db;
}

.second {
  width: 0.3vmin;
  height: 38%;
  background: #e74c3c;
}

/* NUMBERS */
.number {
  position: absolute;
  font-size: 5vmin;
  font-weight: bold;
  transform: translate(-50%, -50%);
  color: var(--text);
}

/* TICKS */
.tick {
  position: absolute;
  width: 0.4vmin;
  height: 2vmin;
   background: var(--tick);

  top: 50%;
  left: 50%;

  transform-origin: center;
}

.tick.big {
  height: 3.5vmin;
  width: 0.6vmin;
  background: #fff;
}

#themeToggle {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 10px 15px;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}