* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* SAME BACKGROUND */
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #2c3e50, #4ca1af);
}

/* RESPONSIVE CLOCK */
.clock {
  width: 85vmin;
  height: 85vmin;
  max-width: 500px;
  max-height: 500px;
  border: 1.5vmin solid #fff;
  border-radius: 50%;
  position: relative;
  background: #111;
  box-shadow: 0 0 5vmin rgba(0,0,0,0.6);
}

/* CENTER DOT */
.center {
  width: 2vmin;
  height: 2vmin;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* HANDS */
.hand {
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform-origin: bottom;
  transform: translateX(-50%) rotate(0deg);
}

.hour {
  width: 1vmin;
  height: 22%;
  background: #f39c12;
}

.minute {
  width: 0.7vmin;
  height: 32%;
  background: #3498db;
}

.second {
  width: 0.3vmin;
  height: 38%;
  background: #e74c3c;
}

/* NUMBERS */
.number {
  position: absolute;
  color: white;
  font-size: 5vmin;
  font-weight: bold;
  transform: translate(-50%, -50%);
}

/* TICKS */
.tick {
  position: absolute;
  width: 0.4vmin;
  height: 2vmin;
  background: #bbb;

  top: 50%;
  left: 50%;

  transform-origin: center;
}

.tick.big {
  height: 3.5vmin;
  width: 0.6vmin;
  background: #fff;
}